/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background: #fff;
}

/* TYPOGRAPHY */

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.2;
}

.article-title {
  font-size: 1.125rem;
  line-height: 1.35;
  margin: 0 0 0.5rem;
}

.pub-date {
  color: rgb(85, 85, 85);
  font-weight: bold;
}
p {
  line-height: 1.6;
}

/* LAYOUT */

.article-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 1.5rem;
  flex: 1;
  text-align: center;
  gap: 5rem;
  max-width: 800px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* COMPONENTS*/

/* UTILITIES*/

h1,
.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.thumbnail {
  height: auto;
  border-radius: 0.75rem;
}
.article-text {
  flex: 1;
  text-align: left;
}

.divider {
  color: lightgrey;
  margin-top: 2rem;
  font-weight: 200;
  font-size: 32px;
}
